{% extends 'principal.html' %}
{% block body%}
<div class="container section small-padding">
<div class="modal-content">
    <div id="content_hero" style="background-image: url(images/hero-contact.jpg)">
      <div class="container">
        <div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0"
          data-translatey="100">
          <div class="col-md-9">
            
  
            <h1>Tipos de boletos</h1>
          </div>
        </div>
      </div>
    </div>
  
    <script>
     $(document).on('ready', constructor);
     function constructor(){
       sumar();
       mul();
     }

     function sumar (){
       $('#contenedorS').on('change', '#cantidad_boletoN', '#cantidad_boletoE', function(){
         var num1 = parseInt($('#cantidad_boletoN').val());
         var num2 = parseInt($('#cantidad_boletoE').val());
         if(isNaN(num1)){
           num1 = 0;
         }
         if(isNaN(num2)){
           num2 = 0;
         }
         $('#total_boleto').val(num1+num2);
       });
     }

       function mul (){
       $('#contenedorS').on('change', '#cantidad_boletoN', '#cantidad_boletoE', function(){
         var num1 = parseInt($('#cantidad_boletoN').val());
         var num2 = parseInt($('#cantidad_boletoE').val());
         if(isNaN(num1)){
           num1 = 0;
         }
         if(isNaN(num2)){
           num2 = 0;
         }

         var m1 = num1 * 7;
         var m2 = num2 * 3.5;
         $('#precio_total').val(m1+m2);
       })

      

     }

     $(function(){
        $("#siguiente").click(function(){
            $("#contenedorPago").show();
        });
    });

    $(document).keyup(function(event) { 
  
  var h = $('#card_number').val(); 
  console.log(h);
  var num = $('#card_number').val().toString();
    var charCount = num.length;

    
    
    /* VALIDACION DE TIPO */
    if(charCount == 1) {   
        if(num == "4"){
          console.log("visat" );
            $("#type").html("VISA");
        }
    }
    if(charCount == 2){
        if(num == "34" || num == "37"){
            $("#type").html("AMEX");
        } else if( num == "51" || num == "55" || num == "53"){
            $("#type").html("MASTER CARD");
        } else if( num == "55" ){
            $("#type").html("DISCOVER");
        }
    }
    if(charCount == 3){
        if(num == "644"){
             $("#type").html("DISCOVER")
        }
    }
    if(charCount == 4){
        if(num == "6011"){
            $("#type").html("DISCOVER");
        }
    }
    /* !VALIDACION DE TIPO */
    
    /* ALGORITMO */
    if(charCount == 13 || charCount == 14 || charCount == 15 || charCount == 16){
        var valid = isValid(num, charCount);
        if(valid){
            $("#type").html("valida");
            $("input").attr("name", "checkout.cardNumber").attr("class", "valid-card");
        } else {
            $("#type").html("invalida");
            $("input").attr("name", "checkout.cardNumber").attr("class", "invalid-card");
        }
    }


    


    
    
  

}); 


if($("#type").html("invalida")){
  $("#cantidad_boletoN").val("");
  $("#cantidad_boletoe").val("");
}

function isValid(ccNum, charCount){
    var double = true;
    var numArr = [];
    var sumTotal = 0;
    for(i=0; i<charCount; i++){
        var digit = parseInt(ccNum.charAt(i));
        
        if(double){
            digit = digit * 2;
            digit = toSingle(digit);
            double = false;
        } else {
            double = true;
        }
        numArr.push(digit);
    }
    
    
    for(i=0; i<numArr.length; i++){
        sumTotal += numArr[i];
    }
    var diff = eval(sumTotal % 10);
    console.log(diff);
    console.log(diff == "0");
    return (diff == "0");
}

function toSingle(digit){
    if(digit > 9){
        var tmp = digit.toString();
        var d1 = parseInt(tmp.charAt(0));
        var d2 = parseInt(tmp.charAt(1));
        return (d1 + d2); 
    } else {
        return digit;
    }
}



    
     
    </script>
  
    <div class="container section small-padding">
      <div class="form-group" >
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>
                <div class="alert alert-danger">{{ message }}</div>
            </li>
            {% endfor %}
        </ul>
        {% endif%}
    </div>
      <div class="row">
        <div class="col-sm-12">
          <h2>Elija los tipos de Boleto que desea adquirir</h2>
         <!-- <div class="form-group" >
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li>
                    <div class="alert alert-danger">{{ message }}</div>
                </li>
                {% endfor %}
            </ul>
            {% endif%}
        </div>-->
        <h3>Nro de Boletos disponibles :{{disponibles}}</h3>
  
          <input name="txtPrec_0002" id="txtPrec_0002" type="hidden" value="6.00" class="form-control input-mini ">
          <input name="txtPrec_0003" id="txtPrec_0003" type="hidden" value="3.00" class="form-control input-mini ">
          <!---
          <table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%" style="border: 0px solid #000000;">
            <tbody>
              <tr>
                <td width="48%" valign="top">
                  <table class="table table-striped" id="tabPrec">
                    <thead>
                      <tr>
                        <th>Tipo de Boleto</th>
                        <th>Precio por Boleto</th>
                        <th>Precio total</th>
                        <th>Cantidad</th>
                      </tr>
                    </thead>
                    <tbody id="fil_0">
                      <tr class="active" id="tipo_0002">
                        <td>BOLETO NORMAL</td>
                        <td class="labPrec_0002" id="labPrec_0002">$ 6.00</td>
                        <td><span class="precio" id="precio_0002"></span></td>
                        <td>
                          <div class="input-group">
                            <div class="input-group-btn"> <button type="button"
                                onclick="sumarestaTotal(&#39;0002&#39;,&#39;-1&#39;); return false;" id="btnDe_0002"
                                class="btn btn-default" aria-label="Bold"
                                style="border-top-left-radius: 5px; border-bottom-left-radius: 5px;">-</button>
                              <input name="txtCant_0002" id="txtCant_0002" type="text" value="0" maxlength="2" readonly=""
                                class="form-control input-mini spinbox-input"
                                style="    width: 20% !important; height: 34px;float: none;display: inline;top: 4px;text-align: center;"
                                aria-label="">
                              <button type="button" id="btnIn_0002"
                                onclick="sumarestaTotal(&#39;0002&#39;,&#39;1&#39;); return false;"
                                class="btn btn-default" aria-label="Bold"
                                style="border-top-right-radius: 5px;border-bottom-right-radius: 5px;">+</button>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr class="active" id="2D NIÑO">
                        <td>BOLETO ESPECIAL(50%)</td>
                        <td class="precio-boleto" id="labPrec_0003">$ 3.00</td>
                        <td><span class="precio" id="precio_0003"></span></td>
                        <td>
                          <div class="input-group">
                            <div class="input-group-btn"> <button type="button"
                                onclick="sumarestaTotal(&#39;0003&#39;,&#39;-1&#39;); return false;" id="btnDe_0003"
                                class="btn btn-default" aria-label="Bold"
                                style="border-top-left-radius: 5px; border-bottom-left-radius: 5px;"> -</button>
                              <input name="txtCant_0003" id="txtCant_0003" type="text" value="0" maxlength="2" readonly=""
                                class="form-control input-mini spinbox-input"
                                style="    width: 20% !important; height: 34px;float: none;display: inline;top: 4px;text-align: center;"
                                aria-label=""> <button type="button" id="btnIn_0003"
                                onclick="sumarestaTotal(&#39;0003&#39;,&#39;1&#39;); return false;"
                                class="btn btn-default" aria-label="Bold"
                                style="border-top-right-radius: 5px;border-bottom-right-radius: 5px;">+</button>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td></td>
                        <td></td>
                        <td><b>Total: $ <span id="precioTotal" name="precioTotal"></span></b></td>
                        <td><b>Cantidad de boletos:<span id="cantidadTotal" name="cantidadTotal"></span></b></td>
                      </tr>
                    </tfoot>
                  </table>
  
                </td>
              </tr>
            </tbody>
  
          </table>
  -->
 
          <form id="register-form" class="login" method="POST" >{%csrf_token%}
            <div class="col-md-4" id='contenedorS'>
              <div class="form-group">
                <label for="nombres">Cantidad de boletos (TARIFA NORMAL)</label>
              <input type="number" min="0"  value="0" placeholder="ingrese tarjeta de credito correcta" name="cantidad_boletoN" id="cantidad_boletoN" class="monto" required />
              </div>
              <div class="form-group">
                <label for="nombres">Cantidad de boletos (TARIFA ESPECIAL 50%)</label>
            <input type="number" min="0" value="0"  placeholder="ingrese tarjeta de credito correcta" name="cantidad_boletoE" id="cantidad_boletoE" class="monto" required />
              </div>
              <div class="form-group">
                <label for="">Cantidad Total de boletos</label>
                <input type="text" placeholder="Asientos totales" name="total_boleto" readonly id="total_boleto" class="login__input" required /> 
              </div>
              <div class="form-group">
                <label for="">Precio Total a pagar</label>
            <input type="text" placeholder="Asientos totales" readonly name="precio_total"  id="precio_total" class="login__input" required />
              </div>
              <div class="form-group">
                <a type='' id="reg" href="/" class="btn btn-danger" value="">Cancelar</a>
                <input type="button"  id="siguiente" hidden class="btn btn-success" value="Siguiente" />
            <button type='submit' id="reg" class="btn btn-success" value="submit"n>Registrar</button>>
         
              </div>
            </div>
          </form>
          <div class="col-md-4" id='contenedorPago' hidden>
            <div class="form-group">
              <form method="post" id="paymentForm">
                <p>
                    <label>Card number</label>
                    <input type="text" placeholder="1234 5678 9012 3456" id="card_number" name = "checkout.cardNumber" >
                    <div id="type"></div>
                  </p>
                  
                <p>
                    <label>Expiry month</label>
                    <input type="text" placeholder="MM" maxlength="5" id="expiry_month">
                </p>
                <p>
                    <label>Expiry year</label>
                    <input type="text" placeholder="YYYY" maxlength="5" id="expiry_year">
                </p>
                <p>
                    <label>CVV</label>
                    <input type="text" placeholder="123" maxlength="3" id="cvv">
                </p>
                <p>
                    <label>Name on card</label>
                    <input type="text" placeholder="Codex World" id="name_on_card">
                </p>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  {% endblock%}