{% extends 'principal.html' %}
{% block body%}
<div class="container section news">
    <div class="row">
        <div class="col-sm-12">
            <h2>Informacion de mi perfil</h2>
            <div class="row">
            
                    <div class="col-sm-5">
                        <div class="tabs">
                            <div>
                                <div class="field-wrap">
                                    <label for="nombres">Nombres</label>
                                    <input type="text" placeholder="Nombres" name="nombres" id="nombres"
                                        class="login__input" value="" readonly />
                                </div><br>
                                <div>
                                    <label for="">Apellidos</label>
                                    <input type="text" placeholder="Apellidos" name="apellidos" id="apellidos"
                                        class="login__input" value="" readonly />
                                </div><br>
                                <div>
                                    <label for="">Cedula de identidad</label>
                                    <input type="text" placeholder="CI" name="cedula" id="cedula" class="login__input"
                                        value="" readonly />
                                </div><br>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-5 col-sm-push-2">
                        <div class="tabs ">
                            <div>
                                <div>
                                    <label for="">Fecha de nacimiento</label>
                                    <input type="date" placeholder="Fecha de nacimiento" name="fechaNacimiento"
                                        id="fechaNacimiento" class="login__input" value="" readonly />
                                </div><br>
                                <div>
                                    <label for="">Edad</label>
                                    <input type="text" placeholder="Edad" name="edad" id="edad" class="login__input"
                                        value="{{this.edad}}" readonly />
                                </div><br>
                                <div>
                                    <label for="">Correo electronico</label>
                                    <input type="email" placeholder="Email" name="email" id="email"
                                        value="" />
                                </div><br>
                            </div>
                        </div>
                        <div class="form" style="text-align: right">
                            <a type='button' href="#" data-toggle="modal" data-target="#Modal"
                                
                                class="btn btn-info">Editar mi perfil</a>
                        </div>
                    </div>
            </div>

        </div>
    </div>
</div>
</div>

<!--- MODAL -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">Iniciar sesion</h4>
            </div>
            <div class="modal-body">

                <!-- .................................form.............................. -->
                <form id="f_editar" method="POST" action="/mi_perfil/modificar">
                    <input type="hidden" name="external" value="0" />
                    <div class="form-group">
                        <label>Nombres</label>
                        <input type="text" class="form-control" id="nombresM" name="nombresM"
                            placeholder="Ingrese sus nombres">
                    </div>
                    <div class="form-group">
                        <label>Apellidos</label>
                        <input type="text" class="form-control" id="apellidosM" name="apellidosM"
                            placeholder="Ingrese sus apellidos">
                    </div>
                    <div class="form-group">
                        <label>Cedula</label>
                        <input type="text" class="form-control" id="cedulaM" name="cedulaM"
                            placeholder="Ingrese su cedula" readonly>
                    </div>
                    <div class="form-group">
                        <label>Fecha de nacimiento</label>
                        <input type="date" class="form-control" id="fecha_nacM" name="fecha_nacM"
                            placeholder="Ingrese su edad">
                    </div>
                    <div class="form-group">
                        <label>Edad</label>
                        <input type="text" class="form-control" id="edadM" name="edadM" placeholder="Ingrese su edad" readonly>
                    </div>
                    <div style="text-align: center">
                        <button type="submit" class="btn btn-success" value="submit">Ingresar</button>
                        <span></span>
                        <button type="reset" class="btn btn-warning" data-dismiss="modal" aria-label="Close">Cancelar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}